name: checkout_sheet_kit_flutter_example
description: Demonstrates how to use the checkout_sheet_kit_flutter plugin.
publish_to: 'none'

environment:
  sdk: ^3.0.0

dependencies:
  flutter:
    sdk: flutter
  checkout_sheet_kit_flutter:
    path: ../

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
